/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
}
.roots {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.container {
    width: 800px; 
    margin: 0 auto; 
    background: #e3f2fd; 
    
}
ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    color: yellowgreen;
    font-family: Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
}
ul {
    text-decoration: none;
    display: flex;
    justify-content: center;
}
ul li a {
    color: gray;
}
.main-content {
    flex: 1;
}
footer{
    
    flex-shrink: 0; /* Verhindert, dass der Footer schrumpft */
    position: fixed;
    background-color: #343a40;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: #343a40; 
    text-align: center;
    padding: 20px;
    z-index: 1000; 
}
/*    -------------------D E T A I L S V I E W--------------------- */
.distanz{
    margin-top: 40%;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.abstand{

    margin: auto;
    height: 70vh;
}

a.navbar-brand{
    text-align: right;
    padding-left: 20px;
}

.puppy-card {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    background-color: #e3f2fd;
}

.list-group-item{
    width: 200px;
    justify-content: center;
    text-align: center;
}

/* N A V I G A T O R */
.container {
    background: #e3f2fd;
    
}
main {
  display: flex;
  flex-direction: row;  
  height: 100%; 

}

app-navbar {
  width: 250px; 
  flex-shrink: 0; 
}

.container{
    height: 100%;
    width:100%;
}
app-admin{
    width:100%;
   
}
app-navbar {
    width: 250px;
    flex-shrink: 0;
  }
.einordnung {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 16px;
    padding: 0;

    margin-bottom:100px; 
  }

  a.item-link{

    text-decoration: none;
    color: black;

}
  
.product-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  margin: 0; 
  padding: 0; 
}


.fuelle{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    background: #e3f2fd;
    width: 200px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}



.auswahl{
    margin-top: 100px;
}

.form-control{
    display:flex;
    flex-direction: row;
}
.no-border {
    border: none;
    outline: none; 
    box-shadow: none; 
  }
.no-border:hover{
    border: none;
    background-color: white;
    box-shadow: none;
}
  .schrift{
    font-size: 10pt;
    width: 120px;
  }
  .scrift select option{
    width: 80px;
  }

.schrift-groeße{
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.einordnungs{
    min-height: calc(100vh - 100px); 
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    gap: 16px;
    
    box-sizing: border-box;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 3% 10%;
}

.einordnung{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    
    
    gap: 16px;
    padding: 3% 10%;

}
.food-container{
    height: 625px;
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color:  #e3f2fd;
}

.puppy-detail-container {
    height: 630px;
    width: 800px;
    margin: 0 auto;
    padding: 20px; 
    background-color: #e3f2fd;
    border-radius: 10px;
}



.puppy-navigation-arrows {
    position: absolute;
    bottom: 110px; 
    left: 650px; 
}
.puppy-navigation-arrows a{
    padding: 30px;
}

.puppy-image {
    width: 100%; 
    height: 400px;
    object-fit: contain; 
    border-radius: 10px; 
    background: black;
}

.col-md-8{
        padding-left: 20px;
}

.col-md-6{
    padding-left: 10px;
}

 
.product-item {
    
    flex: 1 1 200px; 
    width: 200px; 
    box-sizing: border-box;

    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    
    transition: transform 0.2s ease-in-out; 
}
.detail{
    width:100%;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
    display: block;
    background-color: black;
    
}

.product-item img {
    width: 100%;
    height: 150px; 
    object-fit: contain; 
    background-color: black; 
    border-radius: 5px;
    display: block;
}

.galerie-detail{
    text-decoration: none;
    color: black;
    margin: 0px;
    font-size: 10pt;
    padding: 0px;

}

p{
    margin: 0px;
    padding: 0px;
}

.reihe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    
}

.product-container .flex-grow-1 .row-cols{
    margin: 10px;
}
.galerie-detail:hover{
    color: lightgreen;
}

.zentrum{
    background-color: #e3f2fd;
    border: black 1px solid;
    
}

.container{
    padding: 0px;
    margin: 0px;

}

app-header{
    width: 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90%; 
}


     
.h4-anpassung {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bolder;
    font-style:inherit;
    line-height:4mm;
    white-space: normal; 
    overflow-wrap: break-word; 
    word-wrap: break-word;
}

.product-item p{
    margin: 0;
}

.paginator-container {
    margin-top: auto;
    padding-bottom: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;  
    background-color: white; 
    z-index: 1000; 
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); 
    
}
.mitte{
    width: 150px;
}

.horizont{
        display: flex;
        flex-direction: row;
        width: 530px;
        
    }
/**_______________________________________________________________________________________________________________________*/

@media (max-width: 1051px) {
    .product-item{
        min-width: 180px;

    }

    .food-container{
    
        width: 600px;
        height: 100vh;
        margin: 0 auto;
        padding: 20px;
        background-color:  #e3f2fd;
    }

        .col-md-8{
        padding-left: 0px;
    }

    
    .puppy-image {
        width: 200px;
         
        height: 400px;
        object-fit: contain; 
        border-radius: 10px; 
        background: black;
          
        

    
    }

    .reihe{
        display: flex;
        flex-direction:column;
        padding: 20px;
        justify-content: center;
        justify-items: center;
    }
    .horizont{
        display: flex;
        flex-direction: row;
        
        
    }

    .mitte{
        padding: 0 20px;
    }



    .puppy-detail-container {
        /* Vorher: height: auto; */
        min-height: 600px; /* Oder ein passender Wert */
        width: 500px;
        margin: 0 auto;
        padding: 5px; 
        background-color: #e3f2fd;
        border-radius: 10px;
    }
    
    .puppy-navigation-arrows {
        position: absolute;
        bottom: 70px; 
        left: 480px; 
    }
    
}


@media (max-width: 768px) {

    main{
        flex-direction: column;
        
    }
    app-navbar{
        margin: 10px auto;
        width: 100%;

    }
    .fuelle{
        margin: 0px;
      
    }
    .menu-sidebar-content{
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .auswahl{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    li.nav-item a.nav-link{
        margin: 5px;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-between; 
        flex-wrap: nowrap; 
    }

    
    .food-container{
        width: 80%;
        min-width: 300px;

    }

    .puppy-detail-container{
        width: 80%;
        min-width: 300px;
                min-height: 600px; /* Oder ein passender Wert */
        margin: 0 auto;
        padding: 5px; 
        background-color: #e3f2fd;
        border-radius: 10px;
    }

    a.item-link{
        width: 410px;
        margin: 0px auto;
        text-decoration: none;
        color: black;
        flex: 1; 
        text-align: center; 
        white-space: nowrap; 
    }
    a.item-link:hover{
        color: green;
    }

    form.search-form{
        display: none !important;
    }

    .einordnung{
        flex-direction: center;
        padding: opx;
    }
    .ng-star-inserted{
        padding: 0px;
        justify-content: center;
    }

    .product-item {
        min-width: 400px;
        min-height: 400px;

    }
    .product-item img{
        min-width: 360px;
        min-height: 250px;
        object-fit: contain;
    }


    .container{
        flex-direction: column;
        max-width: 100%;
        padding: 0px;
        margin: 0px;

    }
  
   
    a.nav-link{
        width: 100px;
    }
    
    .puppy-navigation-arrows {
        position: absolute;
        
        left: 10px;  
        display:flex;
        flex-direction: row;   
        justify-content: space-between;
        max-width: 100%;
        min-width: 320px;   
    }

    .distanz{
        margin-top: 20%;
        bottom: 100px;
        padding: 0px;
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    app-puppy-details{
        width: 100%;
    }
    .col-md-8{
        padding-left: 20px;
    }
    .mitte{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        
        

    }
    .puppy-title{
        text-align: center;
    }

    .puppy-characteristics-label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .list-group-item{
        margin:0 auto;
    }
    p.puppy-items{
        text-align: center;
    }

    .puppy-image{
        
        width: 100%; /* Erlaubt dem Bild, sich an die Breite seines Elternteils anzupassen */
        height: 400px; /* Feste Höhe, die du beibehalten wolltest */
        object-fit: contain; /* Passt das gesamte Bild in den Container */
        border-radius: 10px;
        background: black; 
    }

    .puppy-navigation-arrows a{
        padding: 0px;
    }

    .fa-5x{
        font-size:3em;
    }
    .puppy-navigation-arrows a i{
        width: 20px;
        padding: 0px;
    }

    .col-md-4{
        align-items: center;
    }

    .reihe{
        padding: 0;
        margin-bottom: 150px;
        align-items: center;
    }

       .horizont{
        display: flex;
        flex-direction: column;
        width: 300px;
      
        
    }

    .mitte{
        align-items: center;
        width: 300px;
    }


}


@media (max-width: 470px) {
    .mat-typography h1{
        font-size: 22px;
    }

    ul.width.list-unstyled.d-flexjustify{
        display: flex;
        flex-direction: column;
    }

    .mx-3{
        margin: 5px auto;
    }

    ul.navbar-nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
   
    footer{
        height: 200px;
        
    }

    .distanz{
        margin-bottom: 20%;
        bottom: 100px;
        padding: 0px;
        display: flex;
        width: 90%;
        justify-content: space-between;
    }

    .content-container{
        min-height: 2800px;
    }

    .dieListe{
        margin-bottom: 300px;
    }

    .puppy-detail-container{
        margin-bottom: 200px;
    }

    .horizont{
        display: flex;
        flex-direction: column;
        width: 300px;
      
        
    }

    .mitte{
        align-items: center;
    }
    .col-md-4{
        align-items: center;
    }
 

}


