<div class="about-me-section">
    <div class="container">
        <div class="text-content">
            <h2>Unsere Geschichte</h2>
            <p>
                Hallo! Wir sind [Deine Namen], und unsere Reise begann mit einer einfachen, aber tiefen Liebe zu Hunden. Seit wir uns erinnern können, waren Hunde ein Teil unseres Lebens. Wir haben miterlebt, wie die richtige Pflege und Ernährung einen Welpen in einen glücklichen, gesunden Begleiter fürs Leben verwandelt. Aus dieser Leidenschaft entstand die Idee, eine Brücke zwischen verantwortungsvollen Züchtern und liebevollen Familien zu bauen.
            </p>
            <p>
                Wir glauben, dass jeder Welpe einen guten Start verdient. Deshalb konzentrieren wir uns nicht nur darauf, die besten Welpen zu finden, sondern auch darauf, sie mit der bestmöglichen Nahrung zu versorgen. Unsere Mission ist es, sicherzustellen, dass dein neuer bester Freund gesund, glücklich und voller Energie ist. 
            </p>
        </div>
        
        <div class="image-content">
            <img src='/assets/aboutme.png' alt="Ein Bild von uns oder unseren Welpen">
        </div>

        <div class="text-content">
            <h2>Unsere Philosophie und unser Versprechen</h2>
            <p>
                Wir sind mehr als nur Welpenvermittler; wir sind Begleiter auf dieser aufregenden Reise. Unsere Welpen wachsen in einem liebevollen, familiären Umfeld auf und werden von einem Tierarzt untersucht. Wir arbeiten eng mit Experten zusammen, um sicherzustellen, dass unsere <a href="#">Welpennahrung</a> alle Nährstoffe enthält, die für ein starkes Wachstum und ein gesundes Immunsystem notwendig sind.
            </p>
            <p>
                Jeder Welpe ist ein Versprechen, und wir nehmen unsere Verantwortung ernst. Wir sind erst zufrieden, wenn wir wissen, dass ein Welpe in einem Zuhause ist, in dem er für immer geliebt wird. Wir sind hier, um dich bei jedem Schritt zu unterstützen.
            </p>
        </div>
    </div>
</div>
