<div> 
    
            <div class="product-container   row-cols" >
                <div class="hero-section text-center text-white d-flex flex-column justify-content-center align-items-center">
                    <h1 class="display-3 fw-bold">Willkommen im Welpenparadies!</h1>
                    <p class="lead mt-3">Finde jetzt dein neues Familienmitglied bei uns.</p>
                    <button class="btn btn-warning btn-lg mt-4" routerLink="/galerie">
                        Zur Welpen-Galerie
                    </button>
                </div>

            </div>
    
           
    
    
</div>
