<div class="mt-auto bg-dark text-white">
    <footer>
        <ul class="width list-unstyled d-flexjustify">
            <li class="mx-3"><a href="#" class="text-white">Rechtlinien</a></li>
            <li class="mx-3"><a href="#" class="text-white" routerLink="/contact">Kontakt</a></li>

            <li class="mx-3"><a href="#" class="text-white">Soziale Netzwerke:</a></li>
            <li class="mx-3"><a href="#" class="text-white">Autor: Ibragim Rahimov</a></li>
        </ul>
    </footer>
</div>
